/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
    background-image: url('images/bg.jpg');
    background-size: cover;
    color: white;
    background-position: left;
}

.jumbotron h1 {
    width: 60%;
}

.navbar-inverse {
    border: 0;
}

.info {
    border-radius: 150px;
    opacity: 1;
}

.product img {
    max-height: 280px;
    max-width: 251px;
}

